<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" parallel="methods" thread-count="3" preserve-order="true" name="C:/Users/HP/IdeaProjects/Daraz/src">
        <classes>
            <class name="page_object_model.tests.DarazSearchEarrings">
                <methods>
                    <include name="searchEarringsTest1"/>
                    <include name="searchEarringsTest2"/>
                </methods>
            </class>
            <class name="page_object_model.tests.DarazSearchFans">
                <methods>
                    <include name="searchFansTest1"/>
                </methods>
            </class>
            <class name="page_object_model.tests.DarazSearchFlowers">
                <methods>
                    <include name="searchFlowersTest1"/>
                    <include name="searchFlowersTest2"/>
                </methods>
            </class>
            <class name="page_object_model.tests.DarazHelp">
                <methods>
                    <include name="searchHelpTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>